.best-prices-section {
    
    .section-title {

        .title {
            font-weight: 600;
            font-size: 44px;
            line-height: 66px;
        }
        
        .see-all-link {
            color: $third-color;
        }
    }
}