.news-page-section {

    .section__title {
        font-weight: 600;
        font-size: 44px;
        line-height: 52px;
    }

    .card-news {

        .card-body {

            .card-btn {
                width: 100%;
                background-color: $second-color;
                color: $second-font-color;
            }
        }
    }

}