@font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

// main background
$main-background: #F9F9F9;

// Yellow background
$second-color: #F5E084;
$second-font-color: #555555;

// Grey backgroung
$third-color: #D7D7D7;
$third-color-hover: #EBEBEB;
$third-font-color: #FFFFFF;
$third-bf-color: #282828;

//section colors
$section-title-color: #030A1B;
$orange-color: #FE753F;
$review-background: #D9D9D9;



//footer background
$footer-background: #F7F7F7;

//animation
